/* FILTERS PART */

.filter-menu {
    height: fit-content;
    position: sticky;
    top: 24px;
    margin-right: 60px;

    min-width: 200px;
}

.search {
    margin-bottom: 55px;
    position: relative;
}

.search__input {
    padding-left: 16px;

    width: 100%;
    height: 55px;
    
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.2);
    
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
}

.search__button {
    width: 22px;
    height: 22px;

    position: absolute;
    right: 0;
    top: calc(50% - 11px);
    
    border: 0;
    background: url(../../images/icons/search.svg);
    background-size: cover;
}

.topics {
    margin-bottom: 55px;

    display: flex;
    flex-direction: column;
}

.filter__title {
    margin-bottom: 15px;

    font-size: 14px;
}

.topics__item {
    min-width: 100%;
    height: 55px;
}

.topic-item__label {
    padding-left: 30px;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    
    transition: background-color 0.2s ease-out;
    
    &:hover {
        cursor: pointer;
        outline: 1px solid #CC5520;
    }
}

.topic-item__radio {
    display: none;

    &:checked + label {
        background-color: #CC5520;
        outline: 1px solid #CC5520;
        color: white;
    }
}

.price-filter {
    width: 100%;
}

@mixin range_track {
    height: 8px;
    border-radius: 30px;
    background-color: #CC5520;
}

@mixin range_thumb {
    appearance: none;
    width: 24px;
    height: 24px;
    background-color: #CC5520;
    border-radius: 50%;
}

.price__range {
    margin-bottom: 15px;

    width: 100%;

    appearance: none;
    
    &:hover {cursor: pointer}
    
    &::-webkit-slider-runnable-track {@include range_track()}
    &::-webkit-slider-thumb {
        @include range_thumb();
        transform: translateY(calc(-50% + 4px));
    }

    &::-moz-range-track {@include range_track()}
    &::-moz-range-thumb {@include range_thumb()}

    &::-ms-track {@include range_track()}
    &::-ms-thumb {@include range_thumb()}
}

.price__value {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
}