.services {
    padding: 100px 0 55px 0;

    min-height: 800px;
}

.services-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.services-blocks {
    margin-bottom: 70px;

    height: 480px;

    display: grid;
    grid-template-columns: repeat(2, calc(50% - 12px));
    grid-template-rows: repeat(2, calc(50% - 16px));
    gap: 32px 24px;
}

.services-block {
    padding: 30px;

    background-color: #F4F4F4;
}

.laptop-block {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    
    background: #F4F4F4 url(../../../images/laptop.png) no-repeat 95% 95%;
    background-size: 80%;
}

.phone-block {
    background: #F4F4F4 url(../../../images/phone.png) no-repeat 95%;
    background-size: 25%;
}

.watches-block {

    background: #F4F4F4 url(../../../images/watches.png) no-repeat 95%;
    background-size: 25%;
}

.block-tag {
    margin-bottom: 10px;

    font-size: 18px;
    font-weight: 600;
    color: #969595;
}

.block-title {
    max-width: 250px;
    
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
}

.services-button {
    margin: auto;

    width: 600px;
    height: 70px;
    
    border: 0;
    background-color: #CC5520;

    color: white;
    font-weight: 500;
    font-size: 20px;
    
    transition: transform 0.5s ease-out;
    
    &:hover {
        transform: scale(1.05);
    }
}