.cart-menu {
    padding: 35px;

    width: 450px;
    height: 100%;

    opacity: 0;
    visibility: hidden;
    overflow-y: scroll;
    transition: visibility 0.5s ease, opacity 0.5s ease-out;

    position: fixed;
    top: 0;
    right: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    background-color: white;
    
    &::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: calc(100% - 450px);
        height: 100%;
        
        background-color: #000000;
        opacity: 0.6;
    }
}

.show-cart-menu {
    visibility: visible;
    opacity: 1;
}

.cart-menu__block {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart-menu__close {
    margin-bottom: 35px;

    width: 16px;
    height: 16px;
    
    background: url(../../images/icons/close-cart.svg) no-repeat center;
    background-size: cover;
    border: 0;
}

.cart-menu__box {
    color: #969595;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 600;
    line-height: 22px;
}

.cart-menu__title {
    margin-bottom: 80px;

    font-family: 'Playfair Display', serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
}

.cart-menu__total {
    margin-bottom: 40px;

    font-family: 'Playfair Display', serif;
    font-weight: 800;
    font-size: 37px;
    line-height: 55px;
    text-align: center;
}

.cart-menu__checkout-button {
    width: 100%;
    height: 70px;
    
    background-color: #CC5520;
    border: 1px solid #CC5520;
    
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 500;

    transition: background-color 0.2s ease-out, color 0.2s ease-out;
    
    &:hover {
        background-color: transparent;
        color: #CC5520;
    }
}



/* CARDS */

.cart-menu__items {
    width: 100%;

    display: flex;
    flex-direction: column;
}

.cart-menu__item {
    margin-bottom: 20px;

    width: 100%;

    display: flex;
    justify-content: space-between;
}

.cart-item__left {
    width: 50%;
    // max-height: 200px;
    
    display: flex;
    flex-direction: column;
}

.cart-item__picture {
    max-width: 210px;
    max-height: 80%;
    object-fit: cover;
}

.cart-item__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 30px;
    
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 600;
}

.cart-item__name {
    font-weight: 700;
}

.cart-item__right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cart-item__control {
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    gap: 10px;
}

.quantity-button {
    background-color: transparent;
    border: 0;
    
    color: #8C8C8C;
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    font-weight: 700;
}

.cart-item__quantity {
    width: 62px;
    height: 40px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #CC5520;
    border-radius: 45px;
    
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 19px;
    font-weight: 700;
}

.cart-item__remove-button {
    height: 28px;
    padding-right: 35px;

    background: url(../../images/icons/remove-item.svg) no-repeat right center;
    background-size: contain;
    border: 0;
    
    color: #8C8C8C;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
}