.header {
    margin-bottom: 110px;

    width: 100%;
    height: 200px;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #E6E6E6;
}

.header__path {
    color: #969595;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
}

.header__title {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 60px;
}